//colors

$black: #000;
$white: #fff;
$aqua: #42faff;
$light-purple: #a194f7;
$purple: #272d5b;
$dark-purple: #212442;
$light-blue: #1fb6ff;
$blue: #5140ff;
$secondary-blue: #21254d;
$dark-blue: #07162f;
$light-grey: #eff1f4;
$transp: transparent;

//spaces

$section-space: 350px;
$section-mid-space: 270px;
$section-sub-bottom: 230px;

//fonts

$montserrat: Montserrat, sans-serif;
$lato: Lato, sans-serif;
$lora: Lora, sans-serif;

//mixins
@mixin abs-elems {
  position: relative;
  &:after, &:before {
    content: '';
    position: absolute;
  }
}

@mixin after-elem {
  position: relative;
  &:after {
    content: '';
    position: absolute;
  }
}

@mixin abs-align-y {
  top: 50%;
  transform: translateY(-50%);
}

@mixin abs-align-x {
  left: 50%;
  transform: translateX(-50%);
}

@mixin abs-align {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin abs-icon {
  position: relative;

  &:after {
    position: absolute;
    font-family: FontAwesome;
  }
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin link-effects {
  &:hover, &:focus, &:active {
    @content;
  }
}

@mixin drop-abs-pos {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0);
}

