@import "vars";
@import "common";

//header

.header {
  padding: 47px 0;

  .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-nav {
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      padding: 0 15px;
    }
  }

  .main-nav-link {
    color: $white;
    letter-spacing: 1px;
  }
  .bank-live-link {
    font-family: $montserrat;
    color: $white;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    .text {
      margin-right: 8px;
    }
  }
}

//home

.section-home {
  margin-bottom: $section-mid-space;
  background: url("../images/home-bg.png") no-repeat bottom right;
  .main-sub-title {
    margin-bottom: 50px;
  }
  .home-descr {
    max-width: 50%;
  }
  .description {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.42;
    letter-spacing: 1.3px;
  }
 .arr-link {
   margin-bottom: 320px;
 }
}

//discover section

.discover-section {
  margin-bottom: $section-sub-bottom;
  .section-title {
    margin-bottom: 50px;
  }
  .section-img {
    display: block;
    width: 46%;
    margin: 0 0 0 auto;
  }
  .section-descr {
    position: relative;
    .abs-container {
      @include abs-align-x;
      top: 70px;
      position: absolute;
      padding-left: 95px;
    }
  }
  .descr-title {
    font-family: $montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: 0.8px;
    margin-bottom: 50px;
  }
  .counter {
    margin-bottom: 70px;
    .count {
      font-size: 72px;
      font-weight: 700;
      letter-spacing: 3.5px;
      color: $aqua;
    }
    .descr {
      font-size: 16px;
      font-style: italic;
      line-height: 1.88;
      letter-spacing: 0.8px;
    }
  }
  .registration {
    .registration-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.08;
      letter-spacing: 0.6px;
    }
  }
}

//reviews section

.reviews-section {
  margin-bottom: $section-space;
}

.reviews-slider {
  .inner-wrap {
    position: relative;
    background-color: $dark-blue;
    box-shadow: 0 0 100px 15px $secondary-blue;
  }
  .inner-img {
    position: relative;
    .review-logo {
      @include abs-align;
      position: absolute;
    }
  }
  .review {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: 100%;
    position: relative;
    z-index: 100;
  }
  .review-text {
    max-width: 80%;
    line-height: 1.56;
    letter-spacing: 0.9px;

    p {
      margin-bottom: 20px;
    }
  }
  .review-author {
    @include after-elem;
    font-family: $montserrat;
    font-weight: 700;
    line-height: 1.67;
    letter-spacing: 0.9px;
    padding-left: 60px;
    &:after {
      @include abs-align-y;
      height: 2px;
      width: 50px;
      left: 0;
      background-color: $aqua;
    }
  }
  .carousel-control {
    @include abs-align-y;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $blue;
    opacity: 1;
    font-size: 40px;
    cursor: pointer;

    &-prev {
      left: -30px;
    }
    &-next {
      right: -30px;
    }
  }
  .carousel-indicators {
    position: static;
    margin: 36px 60px;
    align-items: center;
    li {
      width: calc(100% / 5);
      text-indent: 0;
      background: none;
      border: none;
      opacity: 1;
      height: auto;
      text-align: center;

      .active-img {
        display: none;
      }

      &.active {
        .active-img {
          display: inline-block;
        }
        .default-img {
          display: none;
        }
      }
    }
  }
}

//introducing section

.introducing-section {
  margin-bottom: $section-sub-bottom;
  .section-title {
    margin-bottom: 77px;
  }
  .section-img {
    display: block;
    width: 56%;
    margin: 0 20px 0 auto;
  }
  .section-descr {
    position: relative;
    .abs-container {
      @include abs-align-x;
      top: 0;
      position: absolute;
    }
  }
}

//token sale section

.token-sale-section {
  margin-bottom: $section-mid-space;
  .main-block {
    @include after-elem;
    background-color: $blue;
    color: $white;
    margin: 0 -94px;
    padding: 40px 94px 75px;

    &:after {
      top: 79px;
      left: -37px;
      width: 111px;
      height: 3px;
      background-color: $aqua;
    }
  }
  .main-block-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: 1px;
  }
  .main-block-descr {
    font-family: $lora;
    font-size: 30px;
    font-style: italic;
    line-height: 1.33;
    letter-spacing: 1.6px;
    max-width: 70%;
  }
  .sub-block {
    padding: 60px 25px 20px;
    width: 66%;
    margin: 0 0 0 auto;
    bottom: 60px;
    box-shadow: -9px -9px 35px 4px rgba(33, 37, 77, 0.4);
    background-color: $secondary-blue;
    .token-button {
      padding: 7px;
    }
    .arr-link {
      color: $aqua;
      @include link-effects {
        color: $blue;
      }
    }
    .sub-block-text {
      font-size: 36px;
      letter-spacing: 2px;
      color: $white;
      margin-bottom: 22px;
      &.text-right {
        margin-bottom: 45px;
      }
    }
  }
  .token-button {
    font-size: 64px;
  }
}

//roadmap section

.roadmap-section {
  margin-bottom: $section-space;

  .roadmap-item {
    background-color: $purple;
    padding: 79px;
    color: $white;
    text-align: center;

    img {
      max-height: 225px;
    }
  }
  .col {
    padding: 15px;
  }
  .item-title {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -0.1px;
  }
  .item-descr {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.5px;
  }
}

//offering section

.offering-section {
  margin-bottom: $section-space;
}

//graphic section

.graphic-section {
  background: url(../images/token-graph-bg.png) 0 0/100% auto no-repeat;
  .token-graphic-image {
    max-width: 650px;
    display: block;
    margin: 0 auto;
  }
  .token-graphic {
    position: relative;
  }
  .token-graphic-descr {
    max-width: 56%;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 48px;
    line-height: 1.35;
    letter-spacing: 1.2px;
  }
  .token-graphic-item {
    position: absolute;
    z-index: 2;

    .separator {
      @include after-elem;
      margin: 25px 0 15px;
      width: 100%;
      height: 1px;
      background-color: $aqua;
      &:after {
        @include abs-align-y;
        width: 15px;
        height: 15px;
        background-color: inherit;
        border-radius: 50%;
      }
    }
    .token-graphic-icon {
      width: 61px;
    }
    .descr {
      max-width: 265px;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 0.9px;
    }
    &.left {
      left: 0;
      .separator {
        &:after {
          right: 0;
        }
      }
    }
    &.right {
      text-align: right;
      right: 0;
      .separator {
        &:after {
          left: 0;
        }
      }

      .descr {
        margin: 0 0 0 auto;
      }
    }
    &.first {
      width: 444px;
      top: 63px;
    }
    &.second {
      width: 469px;
      top: 280px;
    }
    &.third {
      width: 449px;
      top: 107px;
    }
    &.fourth {
      width: 509px;
      top: 337px;
      .descr {
        max-width: 220px;
      }
    }
  }
}

//documents section

.documents-section {
  padding-top: $section-space;
  margin-bottom: $section-mid-space;
  .container-fluid {
    padding: 0;
  }
  .document {
    padding: 12% 20px;
    text-align: center;
    background-color: $secondary-blue;
    .arr-link {
      text-transform: capitalize;
    }

    &.disabled {
      @include after-elem;
      overflow: hidden;

      &:after {
        left: 0;
        top: 0;
        height: 100%;
        width: 11%;
        filter: blur(25px);
        -webkit-filter: blur(25px);
        background-color: #07162f;
        opacity: 0.7;
      }
      .doc-body {
        opacity: 0.2;
        pointer-events: none;
      }
    }
  }
  .doc-number {
    font-size: 90px;
    line-height: 0.9;
    letter-spacing: 1.5px;
    text-align: left;
    color: $aqua;
    margin-right: 10px;
  }
  .doc-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: 1px;
    color: $white;
    text-transform: uppercase;
  }
  .doc-head {
    margin-bottom: 70px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.04;
    letter-spacing: 1.3px;
    text-align: center;
    color: $light-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    text-transform: uppercase;
  }
  .doc-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .doc-descr {
    padding-top: 5px;
  }
}

//token sale facts section

.ts-facts-section {
  .ts-items {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);

    &.subtotal {
      border-color: $light-blue;
      margin-top: 24px;
      .ts-item-title {
        font-size: 30px;
      }
      .ts-item-descr {
        margin-bottom: 56px;
      }
      .ts-item {
        border-color: $light-blue;
      }
    }
  }
  .ts-item {
    height: 100%;
    padding: 60px 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-collapse: collapse;
  }
  .ts-item-title-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .ts-icon {
    display: inline-block;
    max-height: 80px;
    margin-bottom: 37px;
  }
  .ts-item-title {
    font-size: 24px;
    font-weight: 900;
    color: $aqua;
  }
  .ts-item-descr {
    font-size: 16px;
    color: $white;
  }
  .ts-item-table {
    th, td {
      padding: 5px 0;
    }

    th {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 400;
    }

    tbody {
      font-size: 20px;

      td:last-child {
        font-weight: 700;
      }
    }
  }
}

//team section

.team-section {
  margin-bottom: $section-mid-space;
  .section-title {
    .top-text {
      margin-bottom: 117px;
    }
  }
  .team-members {
    margin-bottom: 45px;
  }
  .team-member {
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    transition: all 0.3s;
    margin: 15px 0;

    .overlay {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $blue;
      color: $white;
      padding: 42px 25px;
      transition: all 0.3s;
      border-radius: 3px;
    }

    .member-name {
      font-size: 23px;
      font-weight: 900;
      line-height: 1;
      letter-spacing: 1.2px;
    }

    .position {
      @include after-elem;
      font-size: 18px;
      font-weight: 900;
      line-height: 1.28;
      letter-spacing: 0.9px;
      position: relative;
      padding-bottom: 15px;
      margin-bottom: 20px;
      &:after {
        left: 0;
        bottom: 0;
        width: 30px;
        height: 2px;
        background-color: $white;
      }
    }

    .descr {
      font-size: 16px;
      line-height: 1.44;
      letter-spacing: 0.8px;
      margin-bottom: 15px;
    }
    &:hover {
      .overlay {
        opacity: 1;
      }
    }
  }
  .invitation {
    text-align: center;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 1px;
    color: $white;

    a {
      @include link-effects {
        color: $blue;
      }
      color: $aqua;
      text-decoration: underline;
    }
  }
}

//partners section

.partners-section {
  margin-bottom: $section-sub-bottom;
  .partner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;

    img {
      max-height: 150px;
      max-width: 70%;
    }
    .partner-link {
      text-align: center;
      width: 100%;
    }
    &.b-bottom {
      border-bottom: 1px solid $white;
    }
    &.b-right {
      border-right: 1px solid $white;
    }
    &.crop-corners {
      @include abs-elems;

      &:after, &:before {
        width: 50px;
        height: 50px;
        background-color: $dark-blue;
        bottom: -25px;
        z-index: 2;
      }
      &:before {
        left: -25px;
      }
      &:after {
        right: -25px;
      }
    }
  }
}

//media section

.media-section {
  margin-bottom: $section-sub-bottom;
  .media-texts {
    margin-bottom: 60px;
    .col {
      line-height: 1.56;
      letter-spacing: 0.9px;
    }
  }
}

//events section

.events-section {
  margin-bottom: 152px;
  .event {
    display: flex;
    border-radius: 5px;
    border: 2px solid $blue;
    height: 100px;
    &-col {
      padding: 15px;
    }
    &-date {
      width: 110px;
      background-color: $blue;
      padding: 15px 10px;
      color: $white;
      text-align: center;
    }
    &-day {
      font-family: $montserrat;
      font-size: 28px;
      letter-spacing: 0.5px;
      font-weight: 700;
    }
    &-month {
      font-family: $lora;
      font-size: 20px;
      font-style: italic;
      letter-spacing: 0.3px;
    }
    &-descr {
      width: calc(100% - 110px);
      padding: 18px 23px;
    }
    &-place {
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.2px;
      color: $blue;
      text-transform: uppercase;
    }
    &-name {
      font-size: 20px;
      letter-spacing: 0.3px;
    }
  }
}

//faq section

.faq-section {
  margin-bottom: 180px;
  .faq-accordion {
    max-width: 730px;
    margin: 0 auto;
    .card {
      background-color: transparent;
      border: none;
      margin-bottom: 20px;

      .faq-content {
        text-align: center;
        border: 2px solid $aqua;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
        font-size: 16px;
        line-height: 1.25;
        position: relative;
        top: -3px;
        z-index: 1;
      }
    }
    .card-header {
      padding: 0;
      background: $dark-blue;
      border: none;
      position: relative;
      z-index: 10;
    }
    .card-body {
      padding: 20px 100px 35px;
    }
    .btn-link {
      @include abs-icon;
      letter-spacing: 0.3px;
      color: $white;
      text-decoration: none;
      border-radius: 5px;
      display: inline-block;
      border: 2px solid $light-blue;
      text-align: center;
      width: 100%;
      height: 100%;
      padding: 21px;
      &:after {
        @include abs-align-y;
        right: 30px;
        font-size: 36px;
        content: '\f107';
      }
    }
  }
}

//subscribe section

.subscribe-section {
  padding: 88px 0;
  background: url("../images/subscribe-bg.png") right/auto 100% no-repeat;
  .subscribe-title {
    margin-bottom: 30px;
  }
  .subscribe-body {
    padding-left: 95px;
  }
}

//footer
.footer {
  color: $white;
  background-color: $dark-purple;
  .footer-body {
    padding: 38px 63px;
    border-bottom: 2px solid $light-grey;
    .foot-title {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .foot-links {
      li {
        display: block;
      }
    }
    .foot-link {
      @include link-effects {
        color: $white;
        opacity: 1;
      }
      margin-bottom: 10px;
      opacity: 0.75;
      font-size: 14px;
      color: $light-grey;
      line-height: 1;
    }
    .footer-logo {
      text-align: right;
      img {
        max-width: 108px;
      }
    }
  }
  .copyright {
    padding: 20px 0;
    font-size: 11px;
    color: $light-grey;
  }
}

//modal

.whitelist-modal {
  .modal-dialog {
    max-width: 650px;
  }
  .modal-content {
    background-color: $blue;
    border-radius: 0;
  }
  .modal-header {
    flex-direction: column;
    align-items: center;
    border: none;
  }
  .modal-body {
    padding: 0 75px;
  }
  .modal-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.81;
    letter-spacing: 1.4px;
    margin-bottom: 10px;
  }
  .whitelist-form {
    margin-bottom: 30px;
  }
  .token-block {
    margin-bottom: 40px;
    .sub-block-text {
      font-size: 20px;
      margin: 8px 0;
    }
    .token-buttons {
      margin-bottom: 0;
    }
  }
  .close {
    color: $white;
    opacity: 1;
    font-size: 37px;
    padding: 10px 18px;
  }
  .btn {
    min-width: 220px;
    letter-spacing: 1.5px;
  }
  .inp {
    @include placeholder {
      color: $white;
    }
    margin-bottom: 10px;
    letter-spacing: 1.8px;
    font-size: 14px;
    padding: 15px 10px;
    font-weight: 700;
    width: 100%;
    padding: 10px;
    color: $white;
    border: 0;
    border-bottom: 1px solid $white;
    background-color: $transp;
    text-transform: uppercase;
  }
  .form-check {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-check-label {
    font-size: 10px;
    font-style: italic;
    letter-spacing: -0.2px;
    margin: 0 7px;
    a {
      color: $white;
      text-decoration: underline;
    }
  }
  .logo {
    img {
      max-width: 140px;
      margin-bottom: 10px;
    }
  }
}

.select2{
  background-color: transparent;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px !important;
  padding: 10px 0;

  .select2-container--default, .select2-selection--single{
    background-color: transparent!important;
    border: none!important;
    color: $white;

    .select2-selection__rendered{
      color: $white!important;
    }

    .select2-selection__arrow{
      height: 50px!important;

      &  b{
        border-color: $white transparent transparent transparent!important;
      }
    }


  }
}

.select2-container{
  .select2-dropdown{
    background-color: $blue!important;

    .select2-results__option[aria-selected=true]{
      background-color: $dark-blue!important;
    }
  }
}

.grecaptcha-badge{
  display: none;
}