@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
  .logo {
    img {
      max-width: 110px;
    }
  }
  .section-title {
    .top-text {
      font-size: 80px;
    }
    .bottom-text {
      font-size: 54px;
    }
  }
  .section-home {
    background-size: contain;
  }
  .discover-section {
    .descr-title {
      font-size: 38px;
    }
  }
  .roadmap-section {
    .roadmap-item {
      padding: 45px;
    }
    .item-descr {
      font-size: 16px;
    }
  }
  .graphic-section {
    .token-graphic-descr {
      font-size: 36px;
    }
  }
  .ts-facts-section {
    .ts-item {
      padding: 60px;
    }
  }
  .reviews-section {
    .carousel-indicators {
      li {
        img {
          max-width: 70%;
        }
      }
    }
    .bg-img {
      min-height: 100%;
      min-width: 100%;
    }
    .review-text {
      max-width: 100%;
    }
  }
  .team-section {
    .team-member {
      font-size: 14px;
      .overlay {
        padding: 25px;
      }
    }
  }
  .token-sale-section {
    .main-block-title {
      font-size: 50px;
    }
    .main-block-descr {
      font-size: 25px;
    }
    .sub-block {
      font-size: 18px;

      .arr-link {
        font-size: 1em;
      }
      .sub-block-text {
        font-size: 1.8em;
        &.text-right {
          margin-bottom: 25px;
        }
      }
      .token-button {
        font-size: 3.2em;
      }
    }
  }
}

@media (max-width: 992px) {
  .section,
  .sub-section {
    margin-bottom: 90px;
  }
  .header {
    padding: 20px 0;
    .main-navigation {
      display: none;
    }
    .menu-toggle {
      display: inline-block;
    }
  }
  .main-title {
    font-size: 36px;
  }
  .main-sub-title {
    font-size: 20px;
  }
  .section-title {
    margin-bottom: 50px;
    .top-text {
      font-size: 60px;
      margin-bottom: 3%;
    }
    .bottom-text {
      font-size: 38px;
    }
  }
  .arr-link {
    font-size: 12px;
  }
  .quotation{
    padding: 37px 0 0;
    &:before, &:after {
      width: 100px;
      height: 80px;
    }
  }
  .section-home {
    padding-bottom: 100px;
    margin-bottom: 70px;
    .description {
      font-size: 16px;
      margin-bottom: 20%;
    }
    .arr-link {
      display: none;
    }
  }
  .discover-section {
    .descr-title {
      font-size: 28px;
      margin-bottom: 25px;
    }
    .section-descr {
      .section-img {
        display: none;
      }
      .abs-container {
        @include drop-abs-pos;
        background: url("../images/mobile-screens.png") center right/contain no-repeat;
        padding-left: 0;
      }
    }
    .registration {
      .registration-title {
        font-size: 20px;
        max-width: 50%;
        line-height: 1.67;
      }
    }
    .counter {
      margin-bottom: 25px;
    }
  }
  .introducing-section {
    .section-img {
      width: 46%;
    }
  }
  .token-sale-section {
    .sub-block {
      font-size: 11px;
    }
  }
  .roadmap-section {
    .roadmap-item {
      padding: 20px;
      img {
        max-height: 150px;
        margin-bottom: 20px;
        display: inline-block;
      }
    }
    .item-title {
      font-size: 20px;
    }
    .item-descr {
      font-size: 16px;
    }
  }
  .graphic-section {
    .token-graphic-descr {
      position: relative;
      max-width: 100%;
    }
  }
  .documents-section {
    padding-top: 90px;
    .doc-head {
      margin-bottom: 25px;
      height: 143px;
      min-height: 0;
      font-size: 20px;

      img {
        max-height: 100%;
      }
    }
    .doc-number {
      font-size: 52px;
    }
    .doc-title {
      font-size: 12px;
      margin-bottom: 3px;
    }
    .arr-link {
      font-size: 16px;
    }
  }
  .ts-facts-section {
    .ts-item {
      padding: 30px;
    }
  }
  .team-section {
    .team-member {
      height: 340px;
      overflow: hidden;
    }
  }
  .reviews-section {
    .review {
      padding: 40px 20px;
    }
    .carousel-control {
      width: 50px;
      height: 50px;
    }
    .carousel-control-зкум {
      left: -25px;
    }
    .carousel-control-next {
      right: -30px;
    }
  }
  .events-section {
    .event-name {
      font-size: 18px;
    }
  }
  .footer {
    .footer-body {
      padding: 38px 0;
    }
  }
}

@media (max-width: 768px) {
  .section-title {
    .top-text {
      font-size: 36px;
    }
    .bottom-text {
      font-size: 24px;
      left: 30px;
    }
  }
  .sub-section-title {
    margin-bottom: 50px;
    font-size: 24px;
    padding-left: 0;
  }
  .quotation {
    max-width: 100%;
  }
  .introducing-section {
    .section-descr {
      .abs-container {
        @include drop-abs-pos;
      }
    }
    .section-img {
      display: none;
    }
    .section-img-mobile {
      display: block;
    }
  }
  .token-sale-section {
    .container-fluid {
      padding: 0;
    }
    .main-block {
      padding: 20px 20px 70px;
      &:after {
        display: none;
      }
    }
    .main-block-title {
      font-size: 36px;
    }
    .main-block-descr {
      font-size: 18px;
    }
    .sub-block {
      font-size: 14px;
      width: 100%;
      padding-top: 40px;
      .token-button {
        padding: 24px 7px;
      }
    }
  }
  .roadmap-section {
    .roadmap-item {
      width: 340px;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  .graphic-section {
    .token-graphic-image {
      max-width: 100%;
    }
    .token-graphic {
      margin-bottom: 90px;
      .token-graphic-item {
        width: 48%;
        text-align: left;
        .descr {
          max-width: 100%;
        }
      }
    }
    .token-graphic-item {
      font-size: 14px;
      .separator {
        display: none;
      }
      .token-graphic-icon {
        margin-bottom: 20px;
      }
      &.third {
        top: 10%;
      }
      &.second {
        top: 58%;
      }
      &.fourth {
        top: 58%;
      }
    }
    .token-graphic-descr {
      font-size: 36px;
    }
  }
  .documents-section {
    padding: 0 20px;
    .document{
      width: 338px;
      margin: 0 auto;
      max-width: 100%;
      padding: 8% 20px;
      &.disabled{
        &:after {
          top: 0;
          right: 0;
          height: 11%;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 576px) {

}

@media (max-width: 460px) {

}
