@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
  .logo {
    img {
      max-width: 110px;
    }
  }
  .section-title {
    .top-text {
      font-size: 80px;
    }
    .bottom-text {
      font-size: 54px;
    }
  }
  .section-home {
    .container{
      background-size: contain;
    }
  }
  .discover-section {
    .descr-title {
      font-size: 38px;
    }
  }
  .roadmap-section {
    .roadmap-item {
      padding: 45px;
    }
    .item-descr {
      font-size: 16px;
    }
  }
  .graphic-section {
    .token-graphic-descr {
      font-size: 36px;
    }
  }
  .ts-facts-section {
    .ts-item {
      padding: 60px;
    }
  }
  .reviews-section {
    .bg-img {
      min-height: 100%;
      min-width: 100%;
    }
    .review-text {
      max-width: 100%;
    }
  }
  .token-sale-section {
    .main-block-title {
      font-size: 50px;
    }
    .main-block-descr {
      font-size: 25px;
    }
    .sub-block {
      font-size: 18px;

      .arr-link {
        font-size: 1em;
      }
      .sub-block-text {
        font-size: 1.8em;
        &.text-right {
          margin-bottom: 25px;
        }
      }
      .token-button {
        font-size: 3.2em;
      }
    }
  }
  .events-section {
    .event-name {
      font-size: 18px;
    }
  }
}

@media (max-width: 1199px) {
  .team-section {
    .team-member {
      font-size: 13px;
      .overlay {
        padding: 15px;
      }
    }
  }
}

@media (max-width: 992px) {
  .section,
  .sub-section {
    margin-bottom: 90px;
  }
  .header {
    padding: 20px 0;
    .main-navigation {
      display: none;
    }
    .menu-toggle {
      display: inline-block;
      z-index: 1001;
      &:active, &:focus, &:hover {
        color: $white;
      }
    }
  }
  .main-navigation {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: $dark-blue;
    z-index: 100;
    text-align: center;
    .main-navigation-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .bank-live-link {
      display: inline-flex;
    }
    .inner-wrap {
      display: block;
    }
    .bank-live-link {
      margin: 0 0 20px 0;
    }
    .main-nav {
      display: block;
      margin: 0 0 30px 0;
      font-size: 20px;
      li {
        display: block;
        margin: 10px 0;
      }
    }
  }
  .main-title {
    font-size: 36px;
  }
  .main-sub-title {
    font-size: 20px;
  }
  .section-title {
    margin-bottom: 50px;
    .top-text {
      font-size: 60px;
      margin-bottom: 3%;
    }
    .bottom-text {
      font-size: 38px;
    }
  }
  .arr-link {
    font-size: 12px;
  }
  .quotation {
    padding: 37px 0 0;
    &:before, &:after {
      width: 100px;
      height: 80px;
    }
  }
  .section-home {
    padding-bottom: 100px;
    margin-bottom: 70px;
    .description {
      font-size: 16px;
      margin-bottom: 20%;
    }
    .arr-link {
      margin-bottom: 40px;
    }
  }
  .discover-section {
    padding-top: 0;
    .descr-title {
      font-size: 28px;
      margin-bottom: 25px;
    }
    .section-descr {
      .section-img {
        display: none;
      }
      .abs-container {
        @include drop-abs-pos;
        background: url("../images/mobile-screens.png") center right/contain no-repeat;
        padding-left: 0;
      }
    }
    .registration {
      .registration-title {
        font-size: 20px;
        max-width: 50%;
        line-height: 1.67;
      }
    }
    .counter {
      margin-bottom: 25px;
    }
  }
  .introducing-section {
    .section-img {
      width: 46%;
    }
  }
  .token-sale-section {
    .sub-block {
      font-size: 11px;
    }
  }
  .roadmap-section {
    .roadmap-item {
      padding: 20px;
      img {
        max-height: 150px;
        margin-bottom: 20px;
        display: inline-block;
      }
    }
    .item-title {
      font-size: 20px;
    }
    .item-descr {
      font-size: 16px;
    }
  }
  .graphic-section {
    .token-graphic-descr {
      position: relative;
      max-width: 100%;
    }
  }
  .documents-section {
    padding-top: 90px;
    .doc-head {
      margin-bottom: 25px;
      height: 143px;
      min-height: 0;
      font-size: 20px;

      img {
        max-height: 100%;
      }
    }
    .doc-number {
      font-size: 52px;
    }
    .doc-title {
      font-size: 12px;
      margin-bottom: 3px;
    }
    .arr-link {
      font-size: 16px;
    }
  }
  .ts-facts-section {
    .ts-item {
      padding: 30px;
    }
  }
  .team-section {
    .team-member {
      height: 340px;
      overflow: hidden;
    }
  }
  .reviews-section {
    .review {
      padding: 20px;
    }
    .carousel-control {
      width: 50px;
      height: 50px;
    }
    .carousel-control-зкум {
      left: -25px;
    }
    .carousel-control-next {
      right: -30px;
    }
  }
  .events-section {
    .event-name {
      font-size: 18px;
    }
  }
  .footer {
    .footer-body {
      padding: 38px 0;
    }
  }
  .subscribe-section {
    .subscribe-title {
      font-size: 36px;
    }
  }
}

@media (max-width: 768px) {
  .section-title {
    .top-text {
      font-size: 36px;
      letter-spacing: -1.1px;
    }
    .bottom-text {
      font-size: 24px;
      left: 30px;
    }
  }
  .sub-section-title {
    margin-bottom: 50px;
    font-size: 24px;
    padding-left: 0;
  }
  .quotation {
    max-width: 100%;
  }
  .introducing-section {
    .section-descr {
      .abs-container {
        @include drop-abs-pos;
      }
    }
    .section-img {
      display: none;
    }
    .section-img-mobile {
      display: block;
    }
  }
  .token-sale-section {
    .container-fluid {
      padding: 0;
    }
    .main-block {
      padding: 20px 20px 70px;
      &:after {
        display: none;
      }
    }
    .main-block-title {
      font-size: 36px;
    }
    .main-block-descr {
      font-size: 18px;
    }
    .sub-block {
      font-size: 14px;
      width: 100%;
      padding-top: 40px;
      .token-button {
        padding: 24px 7px;
      }
    }
  }
  .roadmap-section {
    .roadmap-item {
      width: 340px;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  .graphic-section {
    .token-graphic-image {
      max-width: 100%;
    }
    .token-graphic {
      margin-bottom: 90px;
      .token-graphic-item {
        width: 48%;
        text-align: left;
        .descr {
          max-width: 100%;
        }
      }
    }
    .token-graphic-item {
      font-size: 14px;
      .separator {
        display: none;
      }
      .token-graphic-icon {
        margin-bottom: 20px;
      }
      &.third {
        top: 10%;
      }
      &.second {
        top: 58%;
      }
      &.fourth {
        top: 58%;
      }
    }
    .token-graphic-descr {
      font-size: 36px;
    }
  }
  .documents-section {
    padding: 0 15px;
    margin-bottom: 0;
    .sub-section-title {
      margin-bottom: 50px;
    }
    .document {
      width: 338px;
      margin: 0 auto;
      max-width: 100%;
      padding: 8% 20px;
      &.disabled {
        &:after {
          top: 0;
          right: 0;
          height: 11%;
          width: 100%;
        }
      }
    }
  }
  .reviews-section {
    .review-author {
      font-size: 14px;
    }
    .carousel-indicators {
      li {
        width: 35%;
        margin: 0 5%;
      }
    }
  }
}

@media (max-width: 576px) {
  body {
    font-size: 14px;
  }
  .main-title {
    letter-spacing: 0.6px;
  }
  .main-sub-title {
    line-height: 1.5;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .marker {
    font-size: 10px;
    padding-top: 6px;
  }
  .sub-section-title {
    margin-bottom: 30px;
  }
  .learn-more-link {
    font-size: 10px;
    .icon {
      width: 30px;
      height: 30px;
    }
  }
  .arr-link {
    letter-spacing: 1px;
  }
  .common-bg {
    background-position-y: 18%;
  }
  .quotation {
    .text {
      font-size: 16px;
      line-height: 1.38;
    }
    .sign {
      font-size: 12px;
    }
  }
  .section-home {
    padding-bottom: 0;
    margin-bottom: 140px;
    .container {
      background-size: 350px;
      background-position: 114% 53%;
    }
    .home-descr {
      max-width: 100%;
      .description {
        letter-spacing: 0.9px;
      }
    }
    .learn-more-link {
      /*@include after-elem;
      .text {
        display: none;
      }
      &:after {
        content: 'Learn more or get whitelisted';
        left: 43px;
        letter-spacing: 0.8px;
      }*/
    }
  }
  .discover-section {
    .section-title {
      margin-bottom: 30px;
    }
    .section-descr {
      .abs-container {
        padding-left: 15px;
        background-size: 275px;
        background-position-x: 169%;
      }
    }
    .inner-wrap {
      max-width: 157px;
    }
    .descr-title {
      font-size: 18px;
      letter-spacing: normal;
    }
    .counter {
      .count {
        font-size: 36px;
        line-height: normal;
        letter-spacing: normal;
      }
      .descr {
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.6px;
        padding-right: 10px;
      }
    }
    .registration {
      .registration-title {
        font-size: 12px;
        line-height: 1.67;
        letter-spacing: 0.3px;
        max-width: 100%;
      }
    }
  }
  .token-sale-section {
    .main-block-descr {
      max-width: 100%;
      line-height: 1.67;
      letter-spacing: 0.9px;
    }
    .sub-block {
      padding: 40px 10px 20px;
      .token-button {
        font-size: 36px;
        letter-spacing: 1.1px;
      }
      .sub-block-text {
        font-size: 24px;
        letter-spacing: 1.3px;

        &.text-right {
          margin-bottom: 30px;
        }
      }
      .arr-link {
        font-size: 12px;
      }
    }
  }
  .roadmap-section {
    .item-title {
      margin-bottom: 15px;
    }
    .col {
      padding: 7px 15px;
    }
  }
  .graphic-section {
    background-position-y: 8%;
    margin-bottom: 45px;
    .section-title {
      margin-bottom: 120px;
    }
    .token-graphic {
      .token-graphic-item {
        .token-graphic-icon {
          width: auto;
          height: 30px;
        }
        .descr {
          font-size: 14px;
          line-height: 1.21;
          letter-spacing: 0.7px;
        }
        &.fourth, &.second {
          top: 42%;
        }
      }
    }
    .token-graphic-image {
      min-height: 400px;
      text-align: center;
      img {
        max-width: 90%;
      }
    }
  }
  .documents-section {
    .container {
      padding: 0;
    }
    .document {
      padding: 42px 20px;
    }
  }
  .ts-facts-section {
    .sub-section-title {
      margin-bottom: 55px;
    }
    .ts-item {
      padding: 30px 12px;
    }
    .ts-icon {
      max-height: 55px;
      width: auto;
      &.fix-width {
        width: 65px;
        margin: 15px 0 42px;
      }
    }
    .ts-item-title {
      font-size: 16px;
    }
    .ts-item-descr {
      font-size: 12px;
      br {
        display: none;
      }
    }
    .ts-items {
      &.subtotal {
        margin-top: 15px;

        .ts-item {
          padding: 36px 15px 15px 27px;
        }
        .ts-item-title-wrap {
          margin-bottom: 18px;
        }
        .ts-item-title {
          font-size: 24px;
          margin-bottom: 0;
        }
        .ts-item-descr {
          font-size: 14px;
          margin-bottom: 24px;
        }
      }
    }
    .ts-item-table {
      td, th {
        padding: 10px 0;
        vertical-align: top;
      }
      td {
        width: 50%;
        font-size: 16px;
      }
    }
  }
  .partners-section {
    .row {
      flex-wrap: wrap;
    }
    .partner-item {
      flex-basis: auto;
      height: auto;
      border: none !important;
      margin: 30px 0;
      img {
        max-width: 150px;
      }
      &.crop-corners {
        &:after, &:before {
          display: none;
        }
      }
    }
  }
  .reviews-section {
    .review {
      height: 231px;
    }
    .inner-img {
      height: 260px;
      overflow: hidden;
      .review-logo {
        max-width: 147px;
      }
    }
    .reviews-slider {
      .carousel-control {
        top: 131px;
      }
      .carousel-control-next {
        right: -8px;
      }
      .carousel-control-prev {
        left: -8px;
      }
      .review-author {
        padding-left: 45px;
        letter-spacing: .7px;
        font-size: 13px;
        &:after {
          width: 35px;
        }
      }
      .carousel-indicators {
        margin: 25px 0 0;
      }
    }
    .review-text {
      font-size: 14px;
    }

  }
  .team-section {
    .section-title {
      .top-text {
        margin-bottom: 12%;
      }
    }
    .team-members {
      margin-bottom: 15px;
    }
    .team-member {
      font-size: 12px;
      max-width: 350px;
      margin: 15px auto;
      .overlay {
        padding: 25px;
      }
      .position {
        padding-bottom: 25px;
      }
      .descr {
        margin-bottom: 25px;
      }
    }
    .invitation {
      font-size: 16px;
      line-height: 1.44;
    }
  }
  .media-section {
    .media-texts {
      .col {
        margin: 0 0 30px 0;
        padding-bottom: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .img-wrap {
        height: auto;
        @include drop-abs-pos;
      }
    }
  }
  .faq-section {
    .faq-accordion {
      .btn-link {
        font-size: 14px;

        &:after {
          font-size: 27px;
          right: 10px;
        }
      }
      .card-body {
        padding: 20px;
        font-size: 14px;
      }
    }
  }
  .footer {
    .footer-body {
      .footer-logo {
        text-align: left;
      }
      .col-6 {
        padding: 15px;
      }
    }
  }
  .whitelist-modal {
    .logo {
      margin-bottom: 15px;
      img {
        max-width: 95px;
      }
    }
    .close {
      font-size: 28px;
    }
    .modal-dialog {
      max-width: 100%;
      margin: 15px auto;
    }
    .modal-title {
      font-size: 20px;
    }
    .modal-body {
      padding: 0 15px;
    }
    .token-block {
      margin-bottom: 15px;
      .token-button {
        font-size: 24px;
        padding: 6px;
      }
    }
    .whitelist-form {
      padding-top: 0;
    }
    .form-group {
      margin-bottom: 15px;
    }
    .form-inner-wrap {
      flex-wrap: wrap;
      .btn {
        margin: 0 auto 20px;
      }
    }
    .form-check {
      width: 100%;
    }
  }
  .theme-modal {
    .modal-dialog {
      margin: 15px auto;
      padding: 0 15px;
    }
  }
  .whitelist-send {
    .modal-body {
      padding: 15px;
    }
    .inner-title {
      min-height: 38px;
    }
  }
  .subscribe-section {
    .subscribe-block {
      padding: 35px 10px;
    }
    .subscribe-title {
      font-size: 26px;
    }
    .subscribe-descr {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 360px) {
  .main-title {
    font-size: 29px;
  }
  .section-title {
    .top-text {
      font-size: 32px;
    }
    .bottom-text {
      font-size: 18px;
    }
  }
  .discover-section {
    .section-descr {
      .abs-container {
        background-size: 224px;
      }
    }
  }
  .token-sale-section {
    .sub-block {
      .token-button {
        font-size: 24px;
      }
    }
  }
  .reviews-section {
    .inner-img {
      height: 220px;
    }
    .reviews-slider {
      .carousel-control {
        top: 100px;
      }
    }
  }
  .team-section {
    .team-member {
      .overlay {
        padding: 10px 15px;
      }
    }
  }
  .faq-section {
    .faq-accordion {
      .btn-link {
        font-size: 12px;
        padding: 10px;
      }
    }
  }
}
